<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/static/images/favicon/favicon-32x32.png" type="image/png" sizes="32x32" />
	<link rel="icon" href="/static/images/favicon/favicon-16x16.png" type="image/png" sizes="16x16" />
	<link rel="manifest" href="/static/images/favicon/site.webmanifest" />

	<script>
		const node_env = '<%= process.env.NODE_ENV %>';
		const playlist_acceptable_mime_types = '<%= process.env.PLAYLIST_ACCEPTABLE_MIME_TYPES %>'.split(', ');
		
		const captcha_key = '<%= process.env.CAPTCHA_SITE_KEY %>';
		const captcha_theme = '<%= process.env.CAPTCHA_THEME %>';

		function onloadCallback() {
			let captchaDomElementId;

			switch (window.location.pathname) {
				case '/':
					captchaDomElementId = 'submitFormCaptcha';
					break;

				case '/app':
					captchaDomElementId = 'feedbackCaptcha';
					break;

				case '/register':
					captchaDomElementId = 'captcha';
					break;

				default: 
					break;
			}

			if (window.location.pathname === '/' || window.location.pathname === '/app' || window.location.pathname === '/register') {
				grecaptcha.render(captchaDomElementId, {
					'sitekey': captcha_key,
					'theme': captcha_theme
				});
			}
		};
	</script>
</head>
<body>
	<div id="root"></div>

	<noscript>
		<style>
			html, body, .error-container {
				width: 100%;
				height: 100%;
			}

			body {
				margin: 0;
				padding: 0;
				font-family: "Roboto", sans-serif !important;
				background-color: #202020 !important;
				color: #fff;
				text-align: center;
			}

			.error-grid-item.logo {
				text-align: center;
			}

			.error-grid-item.logo > img {
				max-width: 250px;
			}

			.error-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			h1 {
				margin-bottom: 5px;
			}

			h2 {
				margin-top: 5px;
			}

			a {
				color: 	#1E90FF;
			}
		</style>
		<div class="error-container">
			<div class="error-grid-item logo">
				<img src="/static/images/iptvplc.svg" alt="Logotype of IPTVPLC">
			</div>
			<div class="error-grid-item text">
				<h1>Ошибка!</h1>
				<h2>У Вас выключен Javascript</h2>
				<p>IPTVPLC использует Javascript как основной язык. Поскольку он выключен, мы не можем отрисовывать приложение.</p>
				<p>Подробнее о включении Javascript можно посмотреть <a href="https://support.google.com/adsense/answer/12654?hl=ru" target="_blank">тут</a></p>
			</div>
		</div>
	</noscript>
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>
</html>